* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto'
}

.wrapper {
	width: 1280px;
	margin: 0 auto;
}

.wrapper-header {
	margin-top: 63px;
}

.logo-link {
	font-size: 80px;
	line-height: 94px;
	color: #000000;
	text-decoration: none;
}

.span {
	color: #4BCAFF;
}

.menu {
	background: #35444F;
	margin-top: 40px;
}

.menu-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.menu-list-item {
	padding: 20px 40px;
	border-right: 1px solid #FFFFFF;
}

.menu-list-item:first-child {
	border-left: 1px solid #FFFFFF;
}

.menu-list-item:hover {
	background: #222F3A;
}

.menu-link {
	text-decoration: none;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}

.wrapper-main {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.img {
	width: 885px;
	height: 529px;
	border: 1px solid #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}

img:hover {
	transition: 0.3s;
	transform: scale(1.2);
}

.left-menu-link {
	text-decoration: none;
	font-size: 27px;
	line-height: 27px;
	color: #485863;
}

.left-menu-link:hover {
	color: #000000;
}

.left-menu-list {
	list-style: none;
	border: 1px solid #000000;
	width: 344px;
}

.left-menu-item {
	padding: 26px 44px;
}

.left-menu-item:hover {
	background: #DBDBDB;
	padding-left: 80px;
}


.wrapper-content {
	display: flex;
	justify-content: flex-end;
	margin-top: 38px;
}

.text {
	width: 883px;
}

.text-content {
	margin-bottom: 37px
}

.footer {
	width: 1280px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.menu-list-footer {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 875px;
}

.menu-footer {
	background: rgba(99, 105, 110, 0.48);
	display: flex;
	align-items: center;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	justify-content: space-between;
}

.footer-menu-link {
	text-decoration: none;
	color: #0C1927;
	font-weight: 400;
	font-size: 28px;
	line-height: 28px;
}

.footer-menu-link:hover {
	color: #3181A6;
	border-bottom: 1px solid #3181A6;
	padding-bottom: 10px;
}

.copy {
	font-size: 24px;
	line-height: 24px;
	padding-right: 40px;
}